body {
    font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  margin: 25%;
  margin-top: auto;
  padding: 10px;
  background-color: antiquewhite;
  color: rgb(46, 46, 46) ;
    flex-direction:column;

}
h1{
    text-align: center;
}

.mainimg{
display: block;
margin-left: auto;
margin-right: auto;
width: 25%;


}

h2 {
      text-align: left;
    }

    h1 {
      margin-bottom: 0.3em;
    }

    hr {
      margin: 1.5em 0;
      border: 0;
      height: 1px;
      background: #444;
    }

    ul, ol {
      margin-left: 1.5em;
    }

    .left {
  float: left;
}

.right {
  float: right;
}

.card {
  width: 45%;
}


.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}
@media (max-width: 1200px) {
  body{
    margin: 1%;
    }
ul, ol {
      text-align: center;
    }
    li{
      text-align: center;
      margin: 25%;
      }
  h1 {
    font-size: 2em;
    text-align: center;
  }
  h2,h3{
    text-align: center;
  }
  p{
    text-align: justify;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }

  .mainimg{
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
  }
